@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
/* limpiar en navegardor*/
*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 400;
}
div#wrapper{
	width: 1024px;
	height: auto;
	margin-left: auto;
	margin-right: auto;	
}
nav{
	width: 1020px;
	height: 70px;
	background-color: #000000;
}
header{
	width: 1020px;
	height: 600px;
	background-image: url("img/reloj-madera-piel-negro-hombre-02.jpg");
}
section#relojes{
	width: 1020px;
	height: 457px;
	background-color: blue;
}
section#nosotros{
	width: 1020px;
	height: 748px;
	background-color: pink;
}
section#catalogo{
	width: 1020px;
	height: 788px;
	background-color: purple;
	
}
section#contacto{
	width: 1020px;
	height: 615px;
	background-color: orange;
}
footer{
	width: 1020px;
	height: 50px;
	background-color: black;
}
nav img{
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}
nav ul{
	float: right;
	margin-top: 20px;
	margin-right: 15px;
}
nav ul li{
	float: left;
	margin-left: 30px;
}
nav a{
	font-size: 18px;
	color: white;
	text-decoration: none;
}
nav a:hover{
	color: #DA0F12;
}